.board {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: yellowgreen;


    main {
        // background: bisque;
        background: #e1eec3;  
        background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  
        background: linear-gradient(to right, #f05053, #e1eec3); 

        flex: 1;
        padding: 3em;
    }

    .tasks {
        padding: 3em;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    header {
        background: #000428;  
        background: -webkit-linear-gradient(to left, #004e92, #000428);  
        background: linear-gradient(to left, #004e92, #000428); 
        

        padding: 2em;
        input {
            all: unset;
            color: white;
            font-weight: 500;
            border-bottom: 1px solid white;
            padding: 0.5em;
            width: 550px;
        }
    }

    footer {
        background: black;
        color: bisque;
        padding:1em;
    }

}